@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.movie-card-image {
  width: 400px;
  height: 300px;
}

.person-profile-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #e8e8e8;
}

.person-details-wrapper {
  background-color: white;
  border-radius: 5px;
}

.person-details-header {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.person-details-header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-details-also-known-as {
  margin-top: 8px;
}

.person-details-bio {
  margin-top: 24px;
}

.width-percent-100 {
  width: 100%;
}

.breadcrumbs .ant-breadcrumb {
  margin: 8px 24px 10px 24px;
  color: grey;
  background: whitesmoke;
  padding: 8px;
}

.main-header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  background: rgb(0, 21, 41) !important;
  padding: 0 10px !important;
}

.main-header .ant-menu {
  height: 38px;
  display: flex;
  align-items: center;
}

.main-header .ant-menu .ant-menu-item {
  height: 38px;
  display: flex;
  align-items: center;
}

.header-menu {
  flex: 1;
  min-width: 0;
}

.layout-content-wrapper {
  padding: 0px 24px;
  min-height: 380px;
}

.login-card {
  width: 400px;
  margin: 50px auto;
}

.login-page {
  height: 100vh;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.person-list-input-search {
  max-width: 250px;
  margin-right: 10px;
}

.cursor-pointer {
  cursor: pointer;
}

.movies-sort-select {
  width: 150px;
}

.movies-search-input {
  max-width: 250px;
}

.movies-card-list-container {
  height: 700px;
  overflow-y: auto;
}

.movies-card-item {
  margin-bottom: 16px;
  cursor: pointer;
  width: 355px;
}

.loading-container {
  min-height: 100vh;
}

.movie-details-container {
  padding: 24px;
  background-color: white;
  border-radius: 5px;
}

.movie-carousel-image-container {
  height: 400px;
  position: relative;
}

.object-fit-cover {
  object-fit: cover;
}

.margin-top-16 {
  margin-top: 16px;
}

.margin-top-24 {
  margin-top: 24px;
}

.padding-24-bg-white {
  padding: 24px;
  background-color: white;
}

.form-grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.width-100-percent {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.layout-card.ant-card .ant-card-body {
  padding: 0;
}

.white-text.ant-typography {
  color: white;
  margin: 0;
}